<%- include('../partials/header') %>

<div class="flex flex-col justify-center items-center mt-10">
  <h1 class="font-bold">Edit - Daily Log <%= healthOne.date.toISOString().substring(0, 10) %></h1><br>
  <form action="/health/<%= healthOne._id %>?_method=PUT" method="POST">
    <input type="hidden" name="source" value="manual">
    <input type="hidden" name="user" value= <%= user._id %>>
    <label>Date:</label><br>
    <input type="date" name="date" value="<%= healthOne.date.toISOString().substring(0, 10) %>" class="input-box">
    <br>
    <div class="inline-block my-1">
      <label>Calories consumed:</label><br>
      <input type="number" name="caloriesIn"  value="<%= healthOne.caloriesIn %>" class="input-box">
    </div>
    <div class="inline-block my-1">
      <label>Calories burned:</label><br>
      <input type="number" name="caloriesOut" value="<%= healthOne.caloriesOut %>" class="input-box">
    </div>
    <br>
    <div class="inline-block my-1">
      <label>Resting heart rate:</label><br>
      <input type="number" name="restingHeartRate" value="<%= healthOne.restingHeartRate %>" class="input-box">
    </div>
    <div class="inline-block my-1">
      <label>Daily steps:</label><br>
      <input type="number" name="steps" value="<%= healthOne.steps %>" class="input-box">
    </div>
    <br>
    <div class="inline-block my-1">
      <label>Weight:</label><br>
      <input type="number" name="weight" value="<%= healthOne.weight %>" class="input-box">
    </div>
    <div class="inline-block my-1">
      <label>Hours of sleep:</label><br>
      <input type="number" name="sleep" value="<%= healthOne.sleep %>" class="input-box">
    </div>
    <button class="action-button mt-3">
      <input type="submit" value="Save">
    </button>
  </form>
</div>

<%- include('../partials/footer') %>
