<%- include('../partials/header') %>

<h3 class="text-3xl font-bold underline">Dashboard</h3><br>

<!-- <h5 class="text-3xl font-bold"><%= health.user %></h5> -->


<table id="list">
    <thead>
      <tr>
        <th>Date</th>
        <th>Calories Consumed</th>
        <th>Calories Burned</th>
        <th>Resting Heart Rate</th>
        <th>Daily Steps</th>
        <th>Weight (kg)</th>
        <th>Sleep (hrs)</th>
        <th>Details</th>
      </tr>
    </thead>
    <tbody>
      <% health.forEach(function(h) { %>
        <tr>
          <td><%= h.date %></td>
          <td><%= h.caloriesIn %></td>
          <td><%= h.caloriesOut %></td>
          <td><%= h.restingHeartRate %></td>
          <td><%= h.steps %></td>
          <td><%= h.weight %></td>
          <td><%= h.sleep %></td>
          <td><a href="/health/<%= h._id %>">View</a></td>
        </tr>
        <% }); %>
      </tbody>
</table>

<%- include('../partials/footer') %>